    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        margin: 25px;
        background-color: rgb(12, 12, 40);
        align-items: center;
    }

    #titulo-pagina {
        margin-bottom: 30px;
    }

    #input-pagina {
        width: 30em;
        height: 2.5em;
        margin-bottom: 20px;
        border-radius: 5px;
        border: none;
        outline: none;
        text-align: justify;
        padding-left: 10px;
    }


    input::placeholder {
        padding: 10px;
    }

    #button-pagina {
        margin-left: 4px;
        width: 6em;
        height: 2.5em;
        border-radius: 5px;
        border: none;
        background-color: rgb(64, 92, 192);
        color: aliceblue;
    }

    #button-pagina:hover {
        background: linear-gradient(to right, rgb(42, 61, 128), rgb(12, 34, 115));
        color: #A9A9A9;
    }

    .box-clima {
        display: flex;
        justify-content: center;
        gap: 40px;
    }

    #box-principal {
        width: 600px;
        height: 200px;
        background: linear-gradient(to right, rgb(59, 89, 199), rgb(12, 34, 115));
        border-radius: 10px;
        margin-right: 50px;
        display: flex;
        justify-content: space-between;
    }

    #texto-principal {
        color: aliceblue;
        margin-top: 75px;
        padding-left: 50px;
        padding-right: 50px;
    }

    #h2-principal {
        color: aliceblue;
        margin-top: 60px;
        padding-left: 50px;
        padding-right: 50px;
        font-size: 4em;
    }

    #left-box {
        display: flex;
        flex-direction: column;
        width: 600px;
    }

    #divs-four {
        gap: 10px;
        display: flex;
    }

    .divs {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        background-color: rgb(47, 43, 70);
        width: 100%;
        height: 90px;
        border-radius: 10px;
        color: aliceblue;
        text-align: center;
        padding-top: 12px;
        gap: 25px;
    }

    #sensacao-termica,
    #humidade,
    #vento,
    #precipitacao {
        font-size: 20px;
    }

    /*Div de maxima e minima*/
    #div-previsao {
        gap: 10px;
        display: flex;
        color: aliceblue;
        text-align: center;
    }

    /*divs dentro da div maxima e minima*/
    .divs-previsao {
        margin-top: 10px;
        background-color: rgb(47, 43, 70);
        width: 100%;
        height: 120px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 10px;
    }

    /*temperatura max e min*/
    .max-min {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-top: auto;
        font-size: 12.3px;
    }

    img {
        display: block;
        margin: auto;
    }

    h5 {
        margin-top: 30px;
    }

    .pesquisa {
        background-color: rgb(47, 43, 70);
        border-radius: 10px;
        text-align: center;
    }

    ul {
        scrollbar-width: thin;
        /* Deixa a barra fina */
        scrollbar-color: #A9A9A9 transparent;
        display: flex;
        flex-direction: column;
        list-style-type: none;
        width: 300px;
        height: 400px;
        overflow-y: auto;
        padding: 0;
        margin: 0 auto;
        margin-left: 15px;
    }

    li {
        color: aliceblue;
        background-color: rgb(82, 77, 112);
        margin: 10px 10px 1px 5px;
        border-radius: 5px;
        height: 100px;
        text-align: center;
        box-sizing: border-box;
        flex: 0 0 40px;
        margin-bottom: 10px;
        padding-top: 10px;
        justify-content: space-between;
    }